:root{
    --main-color: #114B5F;
    --secondary-color: #028090;
    --primary-color: #2A9D8F;
    --highlight-color: #2EC4B6;
    --accent-color: #E4FDE1;
    --error:#d00000;
    --bg-main: #252422;
  
  }
/* nav {
    display: inline-flex;
    margin-right: 20px;
    justify-content: space-between;
} */

 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.main-user{
    color: var(--accent-color)
}

.goal-tag{
  color: var(--accent-color);
  font-family: 'Bangers';
}
.goal-details {
  background: var(--bg-main);
  margin: 54px auto;
  padding: 20px;
  box-shadow: -1px 1px 5px 2px var(--highlight-color);
}
.goal-details p {
    margin: 0;
    font-size: 0.9em;
    color: var(--accent-color)
  }

.progress-bar{
    background:var(--primary-color);
    color: var(--bg-main);
    font-family: 'Bangers';
    font-weight: bolder;
    font-size: 20px;
  }
.goal-title{
    font-size: 25px;
    color: var(--accent-color)
}

.goal-detail{
  font-size: 25px;
}

.create{
    color:var(--highlight-color);
    font-family: 'Bangers';
}
.create label{
    font-size: 25px;
}
.material-symbols-outlined{
    margin-left: 10px;
}

.goal-heading{
  font-family: 'Permanent Marker', cursive;
  color: var(--highlight-color);
  margin-bottom: -46px;
}