:root{
    --main-color: #114B5F;
    --secondary-color: #028090;
    --primary-color: #2A9D8F;
    --highlight-color: #2EC4B6;
    --accent-color: #E4FDE1;
    --error:#d00000;
    --bg-main: #252422;
  
  }

.create-form input{
    margin-left: 25px;
}

.create{
    margin-top: 10px;
}

.home-tag{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}