:root{
    --main-color: #114B5F;
    --secondary-color: #028090;
    --primary-color: #2A9D8F;
    --highlight-color: #2EC4B6;
    --accent-color: #E4FDE1;
    --error:#d00000;
    --bg-main: #252422;
  
  }
.friends-home{
  display: grid;
}
.friend-search input{
  text-align: center;
}
@media (min-width: 900px) {
  .friends-home { grid-template-columns: repeat(2, 1fr); }
}

.friend-search{
  width:90%;
  text-align: center;
  font-family: 'Bangers';

}
.friend-main{
  display: flex;
 justify-content: center;
 margin-left: 40px;
}

.friend-feed{
    color: var(--highlight-color);
    font-family: 'Bangers';
    margin-left: -40px;
}
.friend-feed ul{
  margin-left: -15px;
}
.friend-header{
  color: var(--accent-color);
  margin-top: 50px;
  font-family: 'Bangers';
  text-align: center;
}
.friends p , .friends h2{
  color: var(--highlight-color)
}

button {
  background: var(--main-color);
  margin-right: 70px;
  border: 20px;
  color: var(--accent-color);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Bangers';
  width:100px;
}

.input{
 width:  100%;
}