/* .navii {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
  }
  
  .main-user {
    margin-right: auto;
  }
  
  .nav-links {
    display: flex;
  }
  
  .link-item {
    margin-right: 10px;
  }
  
  .nav-button {
    margin-left: 10px;
  }
   */