:root{
    --main-color: #114B5F;
    --secondary-color: #028090;
    --primary-color: #2A9D8F;
    --highlight-color: #2EC4B6;
    --accent-color: #E4FDE1;
    --error:#d00000;
    --bg-main: #252422;
  
  }

html, body {
    overflow-x: hidden;
}
body {
    position: relative
}

.friends-home{
  display: grid;
}


.friend-search input{
  text-align: center;
}
@media (min-width: 900px) {
  .friends-home { grid-template-columns: repeat(2, 1fr); }
}

.friend-search{
  width:95%;
  text-align: center;
  font-family: 'Bangers';

}

.friend-main{
  display: flex;
 justify-content: center;
 margin-left: 40px;
}

.friend-feed h1{
  margin-left: -15px;
}

.friend-feed {
  color: var(--highlight-color);
  font-family: 'Bangers';
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .friend-feed {
    color: var(--highlight-color);
    font-family: 'Bangers';
    margin-left: 274px;
  }
}

.friend-feed ul{
  margin-left: -15px;
}
.friend-header {
  color: var(--accent-color);
  margin-top: 9px;
  font-family: 'Bangers';
  text-align: center;
}
.friends p , .friends h2{
  color: var(--highlight-color)
}

button {
  background: var(--main-color);
  margin-right: 70px;
  border: 20px;
  color: var(--accent-color);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Bangers';
  width:100px;
}
.card-body button{
background-color: var(--bg-main);
border: none;
}
.card-body{
  background-color: var(--bg-main);
}
.card-title{
  color: var(--highlight-color);
}
.input{
 width:  100%;
}

.progress-bar{
  background:var(--primary-color);
  color: #fff;
  font-family: 'Bangers';
  font-weight: bolder;
  font-size: 20px;
}

.friend-goal-detail{
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}

.addFriendContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addFriendButton{
  margin-left: 55px;
}

.addFriendUser{
  margin-top: 20px;
}